.section-videos{
    min-height: 100vh;
    padding: 100px 50px;

    h2{
        text-align: center;
        margin-bottom: 80px;
    }

    .videos-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        gap: 40px;
        justify-items: center;
        align-items: flex-start;

        h3{
            font-size: clamp(20px, 5vw, 36px);
            font-family: 'Bebas Neue';
            font-weight: 400;
            line-height: 1;
            margin-bottom: 40px;
        }

        p{
            font-size: clamp(14px, 5vw, 16px);
            margin: 10px 0;
        }

        @media screen and (max-width: 768px){
            grid-template-columns: 1fr;
        }
    }
}